*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {    
    background-size: cover;
    height: 100%;
}

.title {
    font-size: 6em;
    font-weight: 700;
    color: #F3BB45;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #312F2F;
}

.buttons {
    margin: 30px;
}    
    a.button {
        font-weight: 700;
        border: 2px solid #F3BB45;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: #F3BB45;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
    }    
        &:hover {
            background-color: #F3BB45;
            color: white;
            transition: all 0.2s ease-in-out;
        }